<div class="form-container">
    <h2>{{ isEditMode ? 'Edit Product' : 'Add New Product' }}</h2>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <label>
            Name:
            <input formControlName="title">
        </label>
        <div>
            @if (productForm.get('title')?.invalid && productForm.get('title')?.touched) {
                Name is required
            }
        </div>

        <label>
            Details:
            <textarea formControlName="description"></textarea>
        </label>
        <div>
            @if (productForm.get('description')?.invalid && productForm.get('description')?.touched) {
                Details are required
            }
        </div>

        <label>
            Price:
            <input type="number" formControlName="price">
        </label>
        <div>
            @if (productForm.get('price')?.invalid && productForm.get('price')?.touched) {
                Price must be greater than or equal to 0
            }
        </div>

        <label>
            Image URL:
            <input formControlName="image">
        </label>

        <button type="submit" [disabled]="productForm.invalid">
            {{ isEditMode ? 'Update' : 'Add' }}
        </button>
       
    </form>
</div>
