<div class="product-grid" *ngIf="products$ | async as products">
    @if (!products.length) {
        <p>Loading products...</p>
    }

    @for (product of products; track $index) {
        <div class="product-card">
            <h3>{{ product.nombre }}Product</h3>
            <img src="../../assets/img/placeholder.png" alt="placeholder" class="placeholder">
            <p>{{ product.info }}Detalles</p>
            <strong>${{ product.precio }}1000</strong>
            <button [routerLink]="['/products', product.id]">View</button>
        </div>
    }
</div>
